span{
    color:#ff8213;
}


.btn-main-color{
         color:#fff;
         background:#ff8213;
         border-color:#f97e11;
}
.btn-main-color:hover{
         cursor:pointer;
         background: #fff;
         color: #ff8213;
}

.pointer{
    cursor: pointer;
}

.fluid-container{
    
    font-size: 0.4em;
    color:#fff;

    .jumbotron{
        background:#0E0E0E;
        padding: 15px;
    }
    .navbar{
     
        margin-top: 20px;
        padding:0;
    }
    .navbar a{
        color:#fff;

        
    }
    .navbar a:hover{
            color:#ff8213;
    }

    
    .nav-link:first-child{
        padding-left:0;
    }
}

.navbar-toggler-right{
    position:absolute;
    top:-30px;
    right:-25px;  
}

/* background */
.navbar .navbar-toggler {
z-index:100000;
border-color: #ff8213;
background-color: #f28c32;
}
.navbar .navbar-toggler:hover{
cursor:pointer;
}

@media (min-width:576px) and (max-width:768px) { 
   .res-mobile{
       margin-top:50px;
   }
}

@media (min-width:768px) and (max-width: 991px) {
    .res-mob{
    margin-top:10px;
    }
    .navbar-toggler-right{
        right:0px;  
    }
}
@media (max-width:575px){
    .res-mob{
        margin-bottom:25px;
    }
    .navbar-toggler-right{
        right:0px;  
    }
    .btn-main-color{
        margin-bottom:15px;
    }
}