<div class="container center">
      <form class="form-signin text-center " (ngSubmit)="formSubmit()">
        <h2 class="form-signin-heading"><span>Zarejestruj się!</span></h2>
        <span class="text-danger small align-middle" *ngIf='validationError'>
            {{validationError}}
         </span>
        <label for="inputLogin" class="sr-only">E-mail</label>
        <input type="e-mail" id="inputLogin" class="form-control" placeholder="Login" name="Login" email required [(ngModel)]='data.login' >
        <label for="inputHaslo" class="sr-only">Hasło</label>
        <input type="password" id="inputHaslo" class="form-control mt-3" placeholder="Hasło"  name="Haslo" required [(ngModel)]='data.haslo'>
        <button class="btn btn-lg btn-main-color btn-block" type="submit">Zarejestruj się</button>
         <div class="small">Wróć do <a routerLink="/panel-klienta">Logowania</a></div>
      </form>
 </div>
