.container-fluid{
    font-size:0.6em;

    .btn{
        cursor: pointer;
    }
    .clear{
        text-align: center;
        cursor:pointer;
        width:50px;
    }
    .btn-main-color{
         color:#fff;
         background:#ff8213;
         border-color:#f97e11;
    }
    .btn-main-color:hover{
            cursor:pointer;
            background:#e57511;
            border-color:#f97e11;
    }
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 25% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: fit-content; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.btnModalClose {
    //color: #aaa;
    width:fit-content;
    height: fit-content;
    margin: 0 auto;
    color:#fff;
    background-color: #ff8213;
    border-color:#f97e11;
}

.btnModalClose:hover,
.btnModalClose:focus {
    background-color: #fff;
    color:#ff8213;  
    cursor: pointer;
}