@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body{
    font-weight: 400 !important;
}

span{
    color:#ff8213;
}
    
hr{
    border-width: 1px;
    border-color: #8b8a8a ;
}



ngb-carousel{
    height: 300px;
    outline : none;
    border: 0;
}


.carousel-inner {
    overflow: visible;
}

.carousel-item {
    display: flex !important;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.2s ease-in-out, visibility 1.2s;

    position: absolute;
}

.carousel-item.active{
    opacity: 1;
    visibility: visible;
    transition: opacity 1.2s ease-in-out, visibility 1.2s;

}
.link-main-color{
   color: #ff8213;
   cursor: pointer;
   float:right;
   font-weight: 700;
}
.link-main-color:hover{
   color: #f97e11;
   text-decoration: none;
   font-weight: 500;
}
@media (min-width: 576px) { 
    body{font-size: 10px;}
    ngb-carousel{
    height: 320px;
   }
}

@media (min-width: 768px) { 
    ngb-carousel{
    height: 420px;
   }
}

@media (min-width: 992px) {
   ngb-carousel{
    height: 550px;
   }
}

@media (min-width: 1200px) {
ngb-carousel{
    height: 650px;
}
}