<h1>
  <sbc-header></sbc-header>
</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">CENTRUM <span class="main-color">POMOCY</span> CRM ONLINE</div>
  </div>
  <div class="row">
    <div class="col-md-12">
    <p class="text-center">Nie możesz żnaleźć odpowiedzni na swoje pytania?<br />
                           Napisz do nas a my postaramy się je rozwiązać.<br />
                           Oferujemy darmową pomoc dla wszystkich zainteresowanych. </p>
    </div>
    <img src="../../../assets/pomocPage/pomocImg.gif" class="image-fluid pomoc-img-position">
    </div>
    <div class="row">
     <div class="col-md-12 text-center">
         <p class="text-center mb-4">Napisz lub zadzwoń:</p>
         <p class="mb-1"> tel.(+48) 51 76 432 </p>
         <p>pomoc@bandalight.com </p>
    </div>                        
  </div>
<div class="row">
  <a href="/kontakt" class="link-main-color mx-auto">Formularz kontaktowy</a>
</div>
<hr>
 <div class="row">
    <div class="col-sm-12 text-center">NAJCZĘŚCIEJ ZADAWANE <span>PYTANIA</span></div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="main-color pointer">1. Czy założenie konta jest płatne?</div>
      <p>Nie! Nasz system CRM jest darmowy dla wszystkich, nie pobieramy żadnych opłat za prowadzenie konta.</p>

      <div class="main-color pointer">2. Czy wprowadzane dane są bezpieczne?</div>
      <p>Tak, nasza firma używa algorytmu szyfrującego w celu zabezpieczenia danych przed osobami trzecimi.</p>

     <div class="main-color pointer">3. Jak mogę zmienić hasło do panelu klienta?</div>
      <p>Z przykrością informujemy, że aktualnie nie można zmienić hasła do panelu klienta bez wcześniejszego kontaktu z administratorem CRM.</p>
    </div>

    <div class="col-md-6">
      <div class="main-color pointer">4. Czy z jednego panelu klienta może kożystać wiele firm?</div>
      <p>Aktualnie nasz system nie wspiera cooperacji miedzy firmami na jednym koncie.</p>

      <div class="main-color pointer">5. Jak mogę usunąć własne konto CRM?</div>
      <p >W celu usunięcia konta CRM należy na adres mailowy podany na stronie kontakt wysłać stosowną informację z chęcią usunięcia konta.</p>

      <div class="main-color pointer"> 6. Jak mogę skonfigurować skrzynkę pocztową?</div>
      <p >...</p>
    </div>
  </div>
</div>
<h1>
    <sbc-footer></sbc-footer>
</h1>