.container{
    color:#8b8a8a;
    font-size: 0.6em;
    font-weight: 400;
    letter-spacing: 1px;
    
}
.row{
    margin-top:30px;
}
.pomoc-img-position{
    position: absolute;
    left:800px;
}
.main-color{
    color:#ff8213;
}
.cont-justify{
    text-align: justify;
}