<div class="container">
  <div class="row">
     <div class="col-md-12 mt-4">
      <h2 class="col-sm-12 text-center"> WYBIERZ IDEALNY <span>PLAN</span> DLA SWOJEJ <span>FIRMY</span></h2>
      <p class="table-price-undertext text-center">Załóż darmowe konto bez opłat i zobowiązań!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mt-5">
          <ul class="price">
            <li class="header">Basic</li>
            <li class="grey">Darmowe</li>
            <li>3 użytkowników</li>
            <li>15 GB danych</li>
            <li>15 faktur VAT</li>
            <li>2 pojazdy</li>
            <li class="grey"><a href="#" class="button">Wypróbuj</a></li>
          </ul>
     </div>

      <div class="col-md-4 mt-5">
          <ul class="price">
            <li class="header" style="background-color:#ff8213">Pro</li>
            <li class="grey">100 PLN / mies.</li>
            <li>5 użytkowników</li>
            <li>30 GB danych</li>
            <li>25 faktur VAT</li>
            <li>5 pojazdy</li>
            <li>Zwiększone bezpieczeństwo</li>
            <li class="grey"><a href="#" class="button">Zakup</a></li>
          </ul>
      </div>

    <div class="col-md-4 mt-5">
        <ul class="price">
          <li class="header">Premium</li>
          <li class="grey">160 PLN / mies. </li>
          <li>5 użytkowników</li>
          <li>30 GB danych</li>
          <li>25 faktur VAT</li>
          <li>5 pojazdy</li>
          <li>Zwiększone bezpieczeństwo</li>
          <li>Podwójny backup danych</li>          
          <li class="grey"><a href="#" class="button">Zakup</a></li>
        </ul>
    </div>
  </div>
    <hr class="mt-5">
  <div class="row mt-5">
    <div class="col-md-12">
      <h2 class="col-sm-12 text-center"> RABATY</h2>
      <p class="table-price-undertext text-center">Dla stałych klientów posiadamy ciągle rosnące rabaty!</p>
    </div>
  </div>
  <div class="row text-center mt-3 mb-5">
    <div class="col-md-4 ">
      <h2 class="rabat-percent main-text-color">5%</h2>
      <p class="rabat-text">Rabat po 3 miesiącach</p>
    </div>
    <div class="col-md-4">
      <h2 class="rabat-percent main-text-color">10%</h2>
      <p class="rabat-text">Rabat po 6 miesiącach</p>
    </div>
    <div class="col-md-4">
      <h2 class="rabat-percent main-text-color">15%</h2>
      <p class="rabat-text">Rabat po 12 miesiącach</p>
    </div>
  </div>
</div>