  <sbc-header></sbc-header>

<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">CZYM JEST <span class="main-color">CRM</span>?</div>
  </div>
  <div class="row crm-information-top">
    <div class="col-lg-8">
      <img class="img-fluid" src="../../../assets/mainPage/crmInf.jpg" alt="Crm Information">
    </div>
    <div class="col-lg-4">
      <p class="crm-inf">Systemy klasy CRM to fundamentalny element każdego współczesnego przedsiębiorstwa.
W sieci dostępnych jest wiele definicji CRM’ów. Pytanie która jest najbardziej odpowiednia, najpełniej oddająca istotę systemów tej klasy? Należy przyjąć iż CRM to w rzeczywistości strategia biznesowa, systemy, procesy, koncepcje oraz kultura organizacyjna ukierunkowana na klienta oraz jego potrzeby.</p>
    </div>
  </div>
  <hr>

<div class="row">
  <div class="col-sm-12 text-center">FUNKCJE <span class="main-color">CRM</span></div>
</div>
<div class="row section-funkcje">
  <div class="col-md-3 text-center">
    <img src="../../../assets/mainPage/funkpeople.png" alt="Zarządzanie bazą" class="fluid-image">
    <div class="hr-line"></div>
    <p>Zarządzanie bazą klientów</p>
  </div>
  <div class="col-md-3  text-center">
    <img src="../../../assets/mainPage/funkcart.png" alt="Produkty" class="fluid-image">
    <div class="hr-line"></div>
    <p>Zarządzanie produktami</p>
  </div>
  <div class="col-md-3  text-center">
    <img src="../../../assets/mainPage/funkfolder.png" alt="Dokumenty i pliki" class="fluid-image">
    <div class="hr-line"></div>
    <p>Udostępnianie dokumentów i plików</p>
  </div>
  <div class="col-md-3  text-center">
    <img src="../../../assets/mainPage/funkcompose.png" alt="Raporty" class="fluid-image">
    <div class="hr-line"></div>
    <p>Sporządzanie raportów</p>
  </div>
  <div class="btn btn-lg btn-main-color mt-5 mb-4 mx-auto">ZOBACZ WIĘCEJ OPCJI</div>
</div>
<hr>
</div>







  <sbc-footer></sbc-footer>

