
<h1>
  <sbc-header></sbc-header>
</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">CZYM JEST <span class="main-color">CRM</span>?</div>
  </div>
  <div class="row crm-information-top">
    <div class="col-lg-8">
      <img class="img-fluid" src="../../../assets/mainPage/crmInf.jpg" alt="Crm Information">
    </div>
    <div class="col-lg-4">
      <p class="crm-inf">Systemy klasy CRM to fundamentalny element każdego współczesnego przedsiębiorstwa. W sieci dostępnych jest wiele definicji
        CRM’ów. Pytanie która jest najbardziej odpowiednia, najpełniej oddająca istotę systemów tej klasy? Należy przyjąć
        iż CRM to w rzeczywistości strategia biznesowa, systemy, procesy, koncepcje oraz kultura organizacyjna ukierunkowana
        na klienta oraz jego potrzeby.</p>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-sm-12 text-center">FUNKCJE <span class="main-color">CRM</span></div>
  </div>
  <div class="row section-funkcje">
    <div class="col-md-3 text-center">
      <img src="../../../assets/mainPage/funkpeople.png" alt="Zarządzanie bazą" class="fluid-image">
      <div class="hr-line"></div>
      <p>Zarządzanie bazą klientów</p>
    </div>
    <div class="col-md-3  text-center">
      <img src="../../../assets/mainPage/funkcart.png" alt="Produkty" class="fluid-image">
      <div class="hr-line"></div>
      <p>Zarządzanie produktami</p>
    </div>
    <div class="col-md-3  text-center">
      <img src="../../../assets/mainPage/funkfolder.png" alt="Dokumenty i pliki" class="fluid-image">
      <div class="hr-line"></div>
      <p>Udostępnianie dokumentów i plików</p>
    </div>
    <div class="col-md-3  text-center">
      <img src="../../../assets/mainPage/funkcompose.png" alt="Raporty" class="fluid-image">
      <div class="hr-line"></div>
      <p>Sporządzanie raportów</p>
    </div>
    <div class="btn btn-lg btn-main-color mt-5 mb-4 mx-auto" routerLink="/oferta">ZOBACZ WIĘCEJ OPCJI</div>
  </div>
  <hr>
  <div class='row'>
    <div class="col-md-12 mb-4">
      <div class="col-sm-12 text-center"> CO OFERUJE CI <span class="main-color">BANDALIGHT?</span></div>
    </div>
    <div class="col-md-12">
      <ngb-carousel [interval]="sliderDate.slideInterval">
        <template *ngFor="let page of sliderDate.images; let i = index;" ngbSlide>
          <img class="carousel-img fluid-image" [src]="sliderDate.images[i]" alt="Slider Image">
          <div class="carousel-caption">
            <div class="slider-text-background">
              <p class="slider-text-area text-justify" [innerHtml]="sliderDate.text[i]"></p>
              <a href="#" class="link-main-color slider-text-area mt-2">Dowiedz się więcej...</a>
            </div>
          </div>
        </template>
      </ngb-carousel>
    </div>
  </div>
  <hr>
  <section id="contactSection" class="mb-4">
    <div class="col-md-12 mb-4">
      <div class="col-sm-12 text-center"> MASZ PYTANIA? <span class="main-color">NAPISZ</span>!</div>
    </div>
    <div class="containerContactSection">
      <div class="row formSection">
        <div class="col-md-12">
          <div class="well well-sm">
            <div class="col-md-12 alertsInfo">
            </div>
            <form id="contactForm" name="contactForm" method="post">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="name" class="contactNameBorder">
                                        <span>I</span>mie i <span>N</span>azwisko</label>
                    <input type="text" class="form-control" id="name" [(ngModel)]='mail.name' name="name" placeholder="Wprowadz imie i naziwsko." required="required"
                    />
                  </div>
                  <div class="form-group">
                    <label for="email" class="contactNameBorder">
                                        <span>A</span>dres <span>E</span>mail</label>
                    <div class="input-group">
                      <span class="input-group-addon"><span class="glyphicon glyphicon-envelope">@</span>
                      </span>
                      <input type="email" class="form-control" id="email" [(ngModel)]='mail.email' name="email" placeholder="Wprowadz adres email" required="required" /></div>
                  </div>
                  <div class="form-group">
                    <label for="subject" class="contactNameBorder">
                                        <span>T</span>emat</label>
                    <input id="subject" name="subject" class="form-control" [(ngModel)]='mail.topic' required="required" placeholder="Wprowadz temat rozmowy">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="message" class="contactNameBorder">
                                        <span>T</span>reść <span>W</span>iadomości</label>
                    <textarea name="message" id="message" name="message" class="form-control" [(ngModel)]='mail.message' rows="10" cols="25" required="required" placeholder="Wiadomość która chcesz nam przekazać"></textarea>
                  </div>
                </div>
                <div class="col-md-12 form-check">
                  <label class="form-check-label">
                    <input class="form-check-input text-small" type="checkbox" name="checkbox" [(ngModel)]='mail.reules' value="rulesAccept" required>
                    <p class="text-muted small">- wyrażam zgodę na przetwarzanie moich danych osobowych przez Bandalight, zgodnie 
z obowiązującym prawem i polityką prywatnośći.</p>
                  </label>
                </div>
                </div>
                <div class="row">
                <div class=" mx-auto">
                  <input type="submit" class="btn btn-lg btn-main-color" (click)="sendEmail()" value="Wyślij">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
    <sbc-footer></sbc-footer>









