<div class="container-fluid">
<div class="row">
  <div class=" col-md-12 input-group">
    <span class="input-group-addon" id="basic-addon1">></span>
    <input type="text" class="form-control" [(ngModel)]="WorkerSearch" placeholder="Nazwisko szukanego pracownika" aria-describedby="basic-addon1">
    <button class="btn btn-info ml-2 btn-large" (click)="showSearchWorker()">Szukaj</button>
    <button class="btn btn-main-color ml-2 btn-large" (click)="showConfirm()" >Dodaj</button>
  </div>
</div>


<div class="row mt-5">

  <table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Imie</th>
      <th>Nazwisko</th>
      <th>Kod Pocztowy</th>
      <th>Ulica</th>      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let worker of workers; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{worker.imie}}</td>
      <td>{{worker.nazwisko}}</td>
      <td>{{worker.kodPocztowy}}</td>
      <td>{{worker.ulica}}</td>
      <td class="btn-info clear" (click)="showEditConfirm(i)">Edytuj</td>
      <td class="btn-danger clear" (click)="deleteWorker(i)">Usuń</td>
    </tr>
  </tbody>
</table>


</div>
<div id="ModalBox" class="modal" [style.display]= "isDisplay">

  <!-- Modal content -->
  <div class="modal-content">
    <p>{{modalText}}</p>
     <span class="btn btn-primary btnModalClose" (click)="modalCloseClick()">Zamknij</span>
  </div>

</div>
</div>